footer{
    display: flex;
} 

nav{
    position: sticky;
    top:0;
}

.logo{
    border-radius: 50%;
    margin-left: 20px;
}
h1{
    color: #EC910C;
}
/* .stars {
    display:flex;
} */

.btn-outline-warning{
    background-color: #EC910C;
    color: white;
}

.checked{
    color: yellow;
}
a:hover{
    font-size: 20px;
    background-color: #EC910C;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
h2{
    width: 50%;
    height: 50px;
    /* margin: 30px; */
    font-size: 15px;
    background-color: black;
    color:white;
    position: sticky;
    bottom: 0;
    padding: 20px;
    text-align: center;

}
/* #h2item2{
    text-align:right;
} */

/* img{

    width: 300px;
    height: 300px;
} */

@media only screen and (max-width: 400px){
    header {
        background-color: green;
    }
    a {
        background-color: yellow;
    }
    a:hover{
        background-color: blue;
    }
    /* to show nothing after size */
    p{
        display: none;
    }
    #sectionrd{
        display: none;
    }
    .card {
        position:static;
    }
}

.carousel-border{
    padding:50px;
    /* height: 400px;
    width: 400px; */
}

@media only screen and (min-width: 400px){
    #sectionLargeSize{
        display: none;
    }
}
